<HTML>
<HEAD>
<TITLE>HELLOOOOOOOOOOO</TITLE>
<SCRIPT LANGUAGE="JavaScript">
        var sizes = new Array(0,1,2,4,8,10,12);
        sizes.pos = 0;

function Elastic()
{
        var el = document.all.elastic
        if (null == el.direction)el.direction = 1
        else if ((sizes.pos > sizes.length -2) || (0 == sizes.pos))
        el.direction *= -1
        el.style.letterSpacing = sizes[sizes.pos += el.direction]
setTimeout('Elastic()',100)
}

</SCRIPT>
<BODY bgcolor="white" onLoad=Elastic()>
<CENTER>
<br><br><br><br>
<br><br><br><br>
<font color="gold">Owner of this Server is: {{ owner }}<br>
<font color="green"><h2>This WebServer Build by</h2>
<font color="gold"><H1 ID="elastic" ALIGN="Center">ANSIBLE</H1>
<img src="cat1.png" width = 200 height = 200><img src="cat2.png" width = 200 height = 200><br>
<img src="cat3.png" width = 200 height = 200><img src="cat4.png" width = 200 height = 200><br>
Server Host Name : {{ ansible_hostname }}<br>
Server OS Family is: {{ ansible_os_family }}<br>
IP Address of this Server is: {{ ansible_default_ipv4.address }}<br>

</body>
</HTML>